@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@theme {
  --font-primary: "Chivo", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-btn: #43E7DF;
  --color-header-bg: #2B2E99;
  --color-blue-color: #2C2643;
  --color-gray: #B4B6C4;
  --color-info-color: #645E76;
  --color-blueBtn-color: #3639A4; 
  --color-sectionBG-color: #F4FAFA;
  --color-border-gray: #DCE7FE;
  /* --color-red: #FF0000; */
}
